/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 20px;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: white;
}
li{
  list-style: none;
  display: inline-block;
}
li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

body {
  background-image: url("/assets/img/pexels-pixabay-34521.jpg");
}
